https://github.com/Mahesh0253/pyrogram/archive/inline.zip
TgCrypto
motor
aiofiles
dnspython
psutil
sqlalchemy==2.0.38
aiohttp==3.11.12
pymongo[srv]==3.12.3
bs4
heroku3
validators
python-dotenv
click==8.1.8 
flask>=1.1.2
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
Werkzeug==3.1.3
